:root {
  --color1:#9d4e15;
  --color2:#156a9d;
  --color3:#0f4a6e;
  --color4:#9d8015;
  --color5:#6e5a0f;
  --background:#a7a4a4;
  --xs: 14px;
  --sm: 22px;
  --md: 24px;
  --lg: 46px;


}
body{
  background-color: var(--background);
  color: var(--color2);
}